/* Navigation bar */
.navbar-brand.hidden {
    display: none;
}

/* Splash */
.fade-in-up {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.8s;
    -webkit-animation-duration: 0.8s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,50%,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,50%,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

/* About me */
.headshot {
    border-radius: 12px;
    box-shadow: 0px 0px 6px -6px rgb(255,255,255,0.7);
}

.about-section .btn-resume {
    margin-bottom: 1rem;
    background-color: #a3a2b0;
}

.about-section .btn-resume:hover {
    background-color: #6b6b75;
    color: whitesmoke;
}

.about-section a {
    color: white;
}

.about-section a:hover {
    color: #a3a2b0;
}

/* Projects */
.extra-bottom-margin {
    margin-bottom: 10rem !important;
}

@media (min-width: 992px) {
    .projects-section .pint-text {
        padding: 0 2rem 0 0;
        border-right: 0.5rem solid #64a19d;
        border-left: none;
    }
}

.project-img-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.project-img-wrapper > .project-tech-content {
    position: absolute;
    inset: 0;
    font-size: 1.5rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255, 0.4);
    opacity: 0;
    text-align: center;
}

.project-img-wrapper > img, .project-img-wrapper > .project-tech-content {
    transition: 200ms ease-in-out;
}

.project-img-wrapper:hover > .project-tech-content {
    opacity: 1;
}

.project-img-wrapper:hover > img {
    filter: blur(5px);
}

.project-img-wrapper .project-tech-content i {
    display: inline-block;
    font-size: 4rem;
    margin: 0.5rem;
}

.proj-btn {
    margin: 1rem 0;
}

.proj-btn:hover {
    background-color: whitesmoke;
}

/* Technologies */
.tech-section {
    padding-top: 10rem;
    background-image: url("../assets/img/green-circuit-board.jpg");
    background-size: cover;
}

.tech-icons {
    max-width: 60%;
    margin-bottom: 120px;
}

.tech-icons i {
    display: inline-block;
    font-size: 72px;
    padding: 20px;
    color: white;
    text-shadow: 0 0 4px rgba(0,0,0,0.45);
    transition: all .2s ease-in-out; 
}

.tech-icons i span {
    position: absolute;
    font-size: 1.1rem;
    font-weight: 700;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
    text-shadow: 0 0 4px rgba(0,0,0,0.45);
    font-family: var(--bs-body-font-family);
}

.tech-icons i:hover {
    transform: scale(1.2);
}

.tech-icons i:hover span {
    visibility: visible;
}

.lightly-shadowed {
    text-shadow: 0 0 4px rgba(0,0,0,0.45);
}

/* Contact */
.floating-text {
    display: block;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}

.floating-text p {
    margin-bottom: 1rem;
}

.italicized {
    font-style: italic;
}

.card-socials a {
  text-align: center;
  height: 4rem;
  width: 4rem;
  background: whitesmoke;
  border-radius: 100%;
  line-height: 4rem;
  transition-duration: 0.5s;
}

.card-socials a  .social-icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.5em;
}

.card-socials a:hover {
    transform: scale(1.2);
}